.titulo{
    margin-left: 20px;
    font-family: "Momo Trust Display", sans-serif;

}
.intro{
    text-align: center;
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-left: 40px;
    font-family: "Momo Trust Display", sans-serif;

}
.footer{
    text-align: center;
    margin-top: 160px;
    background-color: black;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: "Momo Trust Display", sans-serif;

}
.mapa{
    border-radius: 30px;
}
